# Register your test application here: https://github.com/settings/applications/

_github_oauth_config = {
    'consumer_key': '',  # put your key here
    'consumer_secret': '',  # put your secret here
    'request_token_params': {'scope': 'user:email'},
    'base_url': 'https://api.github.com',
    'request_token_url': None,
    'access_token_method': 'POST',
    'access_token_url': 'https://github.com/login/oauth/access_token',
    'authorize_url': 'https://github.com/login/oauth/authorize'
}

MULTIAUTH_AUTH_PROVIDERS = {
    'test': {
        'type': 'static',
        'title': 'Insecure dummy auth',
        'identities': {
            'Test': '123',
            'Foo': 'bar'
        }
    },
    'github': {
        'type': 'oauth',
        'title': 'GitHub',
        'oauth': _github_oauth_config
    },
    'local': {
        'type': 'example_local',
        'title': 'Local Accounts'
    },
    'sso': {
        'type': 'shibboleth',
        'title': 'SSO',
        'callback_uri': '/shibboleth/sso',
        'logout_uri': 'https://sso.example.com/logout'
    }
}

MULTIAUTH_IDENTITY_PROVIDERS = {
    'test': {
        'type': 'static',
        'identities': {
            'Test': {'email': 'test@example.com', 'name': 'Guinea Pig'},
            'Somebody': {'email': 'somebody@example.com', 'name': 'Some Body'}
        },
        'groups': {
            'Admins': ['Test'],
            'Everybody': ['Test', 'Somebody'],
        }
    },
    'github': {
        'type': 'oauth',
        'oauth': _github_oauth_config,
        'endpoint': '/user',
        'identifier_field': 'id',
        'mapping': {
            'affiliation': 'company'
        }
    },
    'local': {
        'type': 'example_local'
    },
    'my_shibboleth': {
        'type': 'shibboleth',
        'mapping': {
            'email': 'ADFS_EMAIL',
            'name': 'ADFS_FIRSTNAME',
            'affiliation': 'ADFS_HOMEINSTITUTE'
        }
    }
}

MULTIAUTH_PROVIDER_MAP = {
    'local': 'local',
    'my_shibboleth': 'my_shibboleth',
    'test': 'test',
    # You can also be explicit (only needed for more complex links)
    'github': [
        {
            'identity_provider': 'github'
        }
    ]
}

MULTIAUTH_LOGIN_FORM_TEMPLATE = 'login_form.html'
MULTIAUTH_LOGIN_SELECTOR_TEMPLATE = 'login_selector.html'
MULTIAUTH_IDENTITY_INFO_KEYS = ['email', 'name', 'affiliation']
WTF_CSRF_ENABLED = False
SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/multiauth.db'
