# All dependencies; including those only needed for some providers.
# This file is mostly there so readthedocs can build everything.
# Strong dependencies are already listed in setup.py

flask
flask_wtf
flask_sqlalchemy
wtforms
sphinx>=7.2.6
flask_sphinx_themes
authlib
