{% extends 'base.html' %}
{% block content %}
    Group: <strong>{{ group.name }}</strong> (from provider <strong>{{ group.provider.title }}</strong>)
    <br>
    Members:
    {% if group.supports_member_list %}
        <ul>
            {% for member in group|sort(attribute='identifier') %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>
    {% else %}
        Not available
    {% endif %}
    <br>
    {% if g.user %}
        {% for identity in g.user.identities if identity.provider == group.provider.name %}
            You are a group member: {% if identity.identifier in group %}YES{% else %}NO{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
